<div class="content container-fluid" data-ng-init="init()">
    <div class="well center">
        <div class="row">
            <div class="col-xs-11 col-xs-offset-1">
                <button ng-click="vm.myTree.expand_branch()" class="btn btn-default btn-sm" data-translate="tree.buttons.expand">Expand</button>
                <button ng-click="vm.myTree.collapse_branch()" class="btn btn-default btn-sm" data-translate="tree.buttons.collapse">Collapse</button>
                <button ng-click="vm.myTree.expand_all()" class="btn btn-default btn-sm" data-translate="tree.buttons.expandAll">Expand All</button>
                <button ng-click="vm.myTree.collapse_all()" class="btn btn-default btn-sm" data-translate="tree.buttons.collapseAll">Collapse All</button>
                <button ng-click="vm.myTree.select_parent_branch()" class="btn btn-default btn-sm" data-translate="tree.buttons.parent">Parent</button>
            </div>
        </div>
        <div class="row">
            <hr>
            <div class="col-xs-12 col-xs-offset-1">
                <input type="text" name="branch" ng-model="vm.txtBranch">
                <button ng-click="vm.addBranch()" class="btn btn-danger btn-sm" data-translate="tree.buttons.addBranch">Add Branch</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5 col-xs-offset-1">
                <div class="box">
                    <abn-tree tree-data="vm.treeData" tree-control="vm.myTree" expand-level="2"></abn-tree>
                </div>
            </div>
        </div>
    </div>
</div>
